.header{
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
    height: 900px;
}
.services5 {
    color: white;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title {
    text-align: center;
}

.pricing {
    margin-top: 100px;
}

.btn1 {
    background-image: linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);;
    background-size: cover;
    background-clip: content-box;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: white;
}

.wit {
    color: white;
}

.bi-check-cirkel{
    color: rgba(102, 16, 242, 0.90);
}

.hr-contact {
    width: 50px;
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
    opacity: 100%;
    margin-left: 48%;
}

.hr-faq {
    width: 50px;
    opacity: 100%;
    margin-left: 48%;
}

.contactText {
    text-align: center;
}


.bi-change1{
    color: rgba(0, 100, 255, 0.80);
    height: 40px;
    width: 40px;
}

.bi-change2{
    color: rgba(255, 150, 0, 0.80);
    height: 40px;
    width: 40px;
}

.bi-change3 {
    color: rgba(255, 0, 203 , 0.8);
    height: 40px;
    width: 40px;
}

.bi-change4 {
    color: rgba(255, 190, 0, 0.8);
    height: 40px;
    width: 40px;
}

.bi-change5 {
    color: rgba(255, 100, 0, 0.8);
    width: 40px;
    height: 40px;
}

.bi-change6 {
    color: rgba(0, 205, 255, 0.8);
    width: 40px;
    height: 40px;
}

.bi-change12 {
    width: 30px;
    height: 30px;
}

.bi-change11 {
    width: 30px;
    height: 30px;
}

.bi-change10 {
    width: 30px;
    height: 30px;
}

.bi-change9{
    width: 30px;
    height: 30px;
}

.button-form {
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-change7{
    left:0;
    top:0;
    height: 300px;
    width:100%;
    position:absolute;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

  .footer {
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
  }

  .btn-footer {
      background-color: rgba(111, 70, 193, 0.9);
      color: white;
      border-style: solid;
      border-color: rgba(46, 45, 45, 0.9);
      border-width: 3px;
  }

.footer-cursor {
    cursor: pointer;
}


.knop {
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
}

.faq {
    background-image:linear-gradient(rgba(111, 66, 193, 0.80), rgba(102, 16, 242, 0.90)) , url(/img/hero-bg.jpg);
}